sudo: false
language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
os:
  - linux
  - osx

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
      - ubuntu-toolchain-r-test # gcc-4.8 / g++-4.8
    packages:
      - cmake
      - cmake-data
      - g++
      - gcc-4.8
      - g++-4.8
      - pkg-config
      - ragel
      - libbz2-dev
      - libpcap-dev
      - sqlite3
      - libsqlite3-dev
      - python-dev
      - tree

env:
  - HYPERSCAN_VERSION=4.3.2
  - HYPERSCAN_VERSION=4.4.1

env:
  global:
    - RUST_BACKTRACE=1
    - BOOST_VERSION_MINOR=63
    - BOOST_ROOT=$HOME/boost-1.$BOOST_VERSION_MINOR
    - HYPERSCAN_ROOT=$HOME/hyperscan-$HYPERSCAN_VERSION
    - LLVM_VERSION=3.9
    - LLVM_ROOT=$HOME/llvm-$LLVM_VERSION
    - LLVM_CONFIG_PATH=$LLVM_ROOT/bin/llvm-config

before_install:
  - .travis/setup-travis.sh

before_script:
  - .travis/build-hyperscan.sh

script:
  - cargo build --verbose
  - cargo test --verbose

after_failure:
  - echo `pwd`
  - tree -h
  - $LLVM_ROOT/bin/llvm-config --cxxflags --ldflags

cache:
  directories:
    - $BOOST_ROOT
    - $LLVM_ROOT
    - $HYPERSCAN_ROOT